<h1>Getting Started:</h1>
<h5>This is a simple aquarium management web app that helps aquarists like you to keep track of your precious aquatic livestocks</h5>

</br>

<ol>
    <li>
        <ul><h4>Livestocks</h4>
        Before you can create a livestock you have to create
            <li>tank</li>
            <li>color</li>
            <li>type</li>
            <li>species</li>
            <li>status</li>
        </ul>
    </li>
    </br>
    <li>
        <ul><h4>Tank</h4>
            <li>You might have more than one fish tank</li>
            <li><strong>Deleting a tank will result in losing all the livestocks that were in the tank</strong></li>
        </ul>
    </li>   
    </br>
    <li>
        <ul><h4>Color</h4>
            <li>What is your livestock's color?</li>
            <li>Ex. black, white, yellow. etc..</li>
            <li>Can't delete a color if there are livestocks that have this color</li>
        </ul>
    </li>
    </br>
    <li>
        <ul><h4>Type</h4>
            <li>What is your livestock's type?</li>
            <li>Ex. fish, shrimp, snail. etc..</li>
            <li>Can't delete a type if there are livestocks that are this type</li>
            <li><strong>Deleting a type will result in losing all the associated species</strong></li>
        </ul>
    </li>
    </br>
    <li>
        <ul><h4>Species</h4>
            <li>What is your livestock's species?</li>
            <li>Ex. guppy, balloon molly, glofish tetra. etc..</li>
            <li>Can't delete a species if there are livestocks that are this Species</li>
        </ul>
    </li>
    </br>
    <li>
        <ul><h4>Status</h4>
            <li>What is your livestock's status?</li>
            <li>Ex. alive, dead, ill etc..</li>
            <li>Can't delete a status if there are livestocks that are in this status</li>
        </ul>
    </li>
    </br>
    <li>
        <ul><h4>Livestock Continued...</h4>
            <li>You can add one livestock at a time from livestocks or tank</li>
            <li>Or you can add multiple at a time from <strong>add bulk</strong></li>
            <li>Each livestock has <strong>histories/events</strong></li>
        </ul>
    </li>
    </br>
    <li>
        <ul><h4>History/event</h4>
            <li>Each livestock has <strong>histories/events</strong></li>
            <li>Initial event for every livestock you create will be "Purchased" with the purchase_date</li>
        </ul>
    </li>
    </br>
    <li>
        <ul><h4>Memo</h4>
            <li>Do you have something that you think you might forget?</li>
            <li>Ex. changed filter, performed water change, etc.</li>
        </ul>
    </li> 
</ol>
