<ul class="navbar-nav mr-auto">
    <!-- Nav Item - Alerts -->
    <li class="nav-item pr-5">
        <div class="nav-link">
            <a class="btn btn-outline-primary btn-rounded waves-effect nav-btn" href="colors" role="button">Colors</a>
        </div>
    </li>
    
    <li class="nav-item pr-5">
        <div class="nav-link">
            <a class="btn btn-outline-primary btn-rounded waves-effect nav-btn" href="species" role="button">Species</a>
        </div>
    </li>
    
    <li class="nav-item pr-5">
        <div class="nav-link">
            <a class="btn btn-outline-primary btn-rounded waves-effect nav-btn" href="stock_types" role="button">Types</a>
        </div>
    </li>
</ul>