.nav-btn{
    width:100px;
}

.btn-round{
  border-radius: 50%;
}

.btn-upload-wrapper {
  padding-top: 10px;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-upload {
  border: 1px solid gray;
  color: gray;
  background-color: white;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.btn-upload-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}