<h1>New Livestock</h1>

<%= render 'form', livestock: @livestock %>

<%= link_to 'Back', livestocks_path %>

<%= javascript_tag do %>
  if(document.getElementById("livestock_image")!=null){
    document.getElementById("livestock_image").addEventListener("input", function(){
    var fullPath = this.value;
    var filename = fullPath.replace(/^.*[\\\/]/, '');
    document.getElementById("image-label").innerHTML = filename;
   });
  }
<% end %>